MONGODB_URL=<your_mongodb_url>
SECRET_TOKEN=<your_secret_token>
PORT= <your_port_number>
RAZORPAY_KEY_ID= <your_razorpay_key_id>
RAZORPAY_KEY_SECRET= <your_razorpay_key_secret>
FRONTEND_URL=<your_frontend_base_url>
